.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 10px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
  padding-left: 0px;
}

/* CSS Modules feature */
.navLinks a:global(.active) {
  color: blue;
}
